.section {
  padding: 60px 0px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
