/*------------- ROOT -------------*/
:root {
  --main-text-color: #212121;
  --main-fonts-family: 'Roboto', sans-serif;
  --main-backgraund-color: #ffffff;

  --content-text-colot: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;

  --bacgraund-color: #2f303a;
  --second-backgraund-color: #f5f4fa;
}